<div class="" fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="header-button-row">
        <app-back-button [title]="'Danh sách sản phẩm'" [real]="'done'"></app-back-button>

        <div class="create-delivery-order action">
            <button class="right-button" mat-raised-button color="" (click)="loadPage()">
                <mat-icon>refresh</mat-icon>
                <span [innerHTML]="'action.refresh' | translate"></span>
            </button>
        </div>

        <div class="search-field" style="width: 100%;">
            <app-dropdown-search [title]="'product.search-product' | translate" [allOptions]="allOptions"
                (outSelectedOptions)="updateSearch($event)"></app-dropdown-search>
        </div>

        <button class="right-button" *ngIf="false" mat-raised-button color="primary" style="margin-top: 12px;"
            (click)="openAddDialog()" [innerHTML]="'product.create-product' | translate"></button>
    </div>

    <mat-sidenav-container fxFlex="0 1 auto" class="content-table">

        <mat-sidenav-content>
            <div class="mat-elevation-z8 m-12">
                <div class="table-container">
                    <table mat-table class="jobs-table mat-elevation-z8" [dataSource]="dataSource" matSort
                        matSortActive="id" matSortDirection="asc" matSortDisableClear>

                        <ng-container matColumnDef="numbericalOrder">
                            <th mat-header-cell *matHeaderCellDef>STT </th>
                            <td mat-cell *matCellDef="let element; let i = index;">
                                {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef>Ảnh </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="image" *ngIf="element.image">
                                    <img style="width: 50px;" src="{{element?.image}}">
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name" sticky>
                            <th mat-header-cell *matHeaderCellDef>Tên sản phẩm
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a class="hover-pointer no-underline" href="/sbb/products/{{element.id}}">
                                    <span class="left full-width">{{element.name}}</span>
                                </a>
                                <span class="left full-width">{{element.sku}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="shop">
                            <th mat-header-cell *matHeaderCellDef>Nhà cung cấp
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a class="hover-pointer no-underline" href="/sbb/shops/{{element.shopId}}">
                                    {{element.shop}}
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef>Danh mục
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a class="hover-pointer no-underline" href="/sbb/product-categories/{{element.categoryId}}">
                                    {{element.category}}
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef>Thương hiệu
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.brand}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="originPrice">
                            <th mat-header-cell *matHeaderCellDef>
                                Giá nhập
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="this.authService.hasPermission([4, 5])">{{element.originPrice | currency: element.currency ?? 'VND'}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="minPrice">
                            <th mat-header-cell *matHeaderCellDef>Giá gốc</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="this.authService.hasPermission([4, 5])">
                                <span *ngIf="element.minPrice > 0">{{element.minPrice | currency: element.currency ??
                                    'VND'}}</span>
                                <app-chip *ngIf="element.applyProductPriceSettingChips"
                                    [chips]="element.applyProductPriceSettingChips"></app-chip>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="autoProductPrice">
                            <th mat-header-cell *matHeaderCellDef>Tính giá tự động</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox class="example-margin" *ngIf="this.authService.hasPermission([4, 5])"
                                    [checked]="element?.applyTemplateSettings && element?.applyTemplateSettings?.length > 0"
                                    [disabled]="true"></mat-checkbox>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="newPrice">
                            <th mat-header-cell *matHeaderCellDef>
                                Giá bán
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="this.authService.hasPermission([4, 5])">{{element.maxPrice | currency: element.currency ?? 'VND'}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="language">
                            <th mat-header-cell *matHeaderCellDef>Phiên bản đa ngôn ngữ</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.language ?? "Việt Nam"}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="autoApprove">
                            <th mat-header-cell *matHeaderCellDef>Duyệt tự động</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox class="example-margin" [checked]="element?.autoApprove ?? false"
                                    [disabled]="true"></mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="activeStatus">
                            <th mat-header-cell *matHeaderCellDef>Trạng thái hoạt động</th>
                            <td mat-cell *matCellDef="let element">
                                <app-chip [chips]="element.statusChips"></app-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="approveStatus">
                            <th mat-header-cell *matHeaderCellDef>Trạng thái phê duyệt</th>
                            <td mat-cell *matCellDef="let element">
                                <app-chip [chips]="element.approveChips"></app-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="head-action"
                                [innerHTML]="'action.title' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">

                                    <button *ngIf="false" mat-menu-item (click)="openRemoveDialog(element)">
                                        <mat-icon>delete</mat-icon>
                                        <span [innerHTML]="'action.delete' | translate"></span>
                                    </button>

                                    <button *ngIf="false" mat-menu-item (click)="openUpdateDialog(element)">
                                        <mat-icon>edit</mat-icon>
                                        <span [innerHTML]="'action.update' | translate"></span>
                                    </button>

                                    <button mat-menu-item (click)="openDetail(element)">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        <span [innerHTML]="'action.detail' | translate"></span>
                                    </button>

                                    <button *ngIf="!element.isApproved" mat-menu-item
                                        (click)="setActiveProduct(element)">
                                        <mat-icon>check</mat-icon>
                                        <span>Phê duyệt</span>
                                    </button>

                                    <button *ngIf="element.isApproved || element.isApproved === undefined" mat-menu-item
                                        (click)="setDisableProduct(element)">
                                        <mat-icon color="warn">remove_circle</mat-icon>
                                        <span>Từ chối</span>
                                    </button>

                                    <!-- <button mat-menu-item (click)="updatePrice(element)">
                                        <mat-icon>attach_money</mat-icon>
                                        <span>Sửa giá bán</span>
                                    </button> -->

                                    <button mat-menu-item (click)="createPriceSetting(element)" *ngIf="this.authService.hasPermission([5])">
                                        <mat-icon>brightness_auto</mat-icon>
                                        <span>Thiết lập giá bán</span>
                                    </button>

                                    <button mat-menu-item (click)="updateSalePriceBySettings(element)" *ngIf="this.authService.hasPermission([5])">
                                        <mat-icon>donut_large</mat-icon>
                                        <span>Cập nhật giá bán</span>
                                    </button>

                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="this.dataSource.count" [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons (page)="handlePageEvent($event)">
                    </mat-paginator>
                </div>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>