<div class="" fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="header-button-row">
        <app-back-button [title]="'Danh sách đơn nhập hàng NCC'" [real]="'done'"></app-back-button>

        <div class="create-delivery-order action">
            <button class="right-button" mat-raised-button color="" (click)="refresh()">
                <mat-icon>refresh</mat-icon>
                <span [innerHTML]="'action.refresh' | translate"></span>
            </button>
        </div>
        <div class="search-field" style="width: 100%;">
            <app-dropdown-search [title]="'order.search-order' | translate" [allOptions]="allOptions"
                (outSelectedOptions)="updateSearch($event)"></app-dropdown-search>
        </div>


    </div>

    <mat-sidenav-container fxFlex="0 1 auto" class="content-table">

        <mat-sidenav-content>
            <div class="mat-elevation-z8 m-12">
                <div class="table-container">
                    <table mat-table class="jobs-table mat-elevation-z8" [dataSource]="dataSource" matSort
                        matSortActive="id" matSortDirection="asc" matSortDisableClear>

                        <ng-container matColumnDef="selection">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox *ngIf="confirmDelivery" (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox *ngIf="confirmDelivery" (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="numericalOrder" sticky>
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'order.numerical-order' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index;">
                                {{paginator.pageSize*paginator.pageIndex + i + 1}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef>Mã đơn nhập hàng
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a class="hover-pointer no-underline" href="/sbb/order-enters/{{element.id}}">
                                    <span>{{element.code}}</span>
                                    <br>

                                    <span matTooltip="{{element.createdDate | dateDisplay:'origin'}}"
                                        matTooltipPosition="above">
                                        {{element.createdDate | dateDisplay}}
                                    </span>

                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="supplier">
                            <th mat-header-cell *matHeaderCellDef>Nhà cung cấp
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a class="hover-pointer no-underline" href="/sbb/shops/{{element.shopId}}">
                                {{element.shopName}}
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'order.sub-number' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef>Sản phẩm Đã nhập/Chuyển hàng
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="statistic-ratio">
                                    <span
                                        class="information">{{element.quantityImport}}/{{element.quantityDelivered}}</span>
                                    <section class="example-section">
                                        <mat-progress-bar class="example-margin"
                                            [ngClass]="element.quantityRatioColorClass" mode="determinate"
                                            [value]="element.quantityRatio"></mat-progress-bar>
                                    </section>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="discount">
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'order.discount' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.cashDiscount ?? 0 | currency:'VND'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="totalPrice">
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'order.total-price' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.totalPrice | currency:'VND'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="processStatus">
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'order.process-status' | translate"></th>
                            <td mat-cell *matCellDef="let element">
                                <app-chip [chips]="element.importReceiptStatusChips"></app-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="quantityStatus">
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'order.quantity-status' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <app-chip [chips]="element.quantityStatusChips"></app-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="note">
                            <th mat-header-cell *matHeaderCellDef>Ghi chú
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.note}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày tạo
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span matTooltip="{{element.createdDate | dateDisplay:'origin'}}"
                                    matTooltipPosition="above">
                                    {{element.createdDate | dateDisplay}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="head-action"
                                [innerHTML]="'action.title' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="actions">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">

                                    <button mat-menu-item (click)="openDetail(element)">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        <span [innerHTML]="'action.detail' | translate"></span>
                                    </button>

                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                    <mat-paginator [length]="this.dataSource.count" [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons (page)="handlePageEvent($event)">
                    </mat-paginator>
                </div>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>