.example-card {
  width: 500px;
  text-align: center;
  padding:20px;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

div, h1,h2,h3,h4, strong, p, span, a, mat-hint {
  color: white;
}

.example-card{
  background-color: rgba(60, 72, 88, 0.7);
}

.message {
  margin-bottom: 12px;
}