<div class="" fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="header-button-row">
        <app-back-button [title]="'Danh sách phiếu cập nhật giá'" [real]="'done'"></app-back-button>

        <div class="create-delivery-order action">
            <button class="right-button" mat-raised-button color="" (click)="loadPage()">
                <mat-icon>refresh</mat-icon>
                <span [innerHTML]="'action.refresh' | translate"></span>
            </button>

            <button class="right-button" mat-raised-button color="primary" (click)="createPriceSetting()">
                <mat-icon>add</mat-icon>
                <span>Tạo phiếu</span>
            </button>
        </div>

        <div class="search-field" style="width: 100%;">
            <app-dropdown-search [title]="'product.search-product' | translate" [allOptions]="allOptions"
                (outSelectedOptions)="updateSearch($event)"></app-dropdown-search>
        </div>
    </div>

    <mat-sidenav-container fxFlex="0 1 auto" class="content-table">

        <mat-sidenav-content>
            <div class="mat-elevation-z8 m-12">
                <div class="table-container">
                    <table mat-table class="jobs-table mat-elevation-z8" [dataSource]="dataSource" matSort
                        matSortActive="id" matSortDirection="asc" matSortDisableClear>

                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef>STT </th>
                            <td mat-cell *matCellDef="let element ; let i = index;">
                                {{paginator.pageSize*paginator.pageIndex + i + 1}} </td>
                        </ng-container>

                        <ng-container matColumnDef="code" sticky>
                            <th mat-header-cell *matHeaderCellDef>Mã phiếu
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="label left full-width">{{element.code}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="creator">
                            <th mat-header-cell *matHeaderCellDef>Người thiết lập
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                        </ng-container>

                        <ng-container matColumnDef="product">
                            <th mat-header-cell *matHeaderCellDef>Sản phẩm
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element?.product.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="note">
                            <th mat-header-cell *matHeaderCellDef>Ghi chú
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef>Giá
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.price | currency: element?.currency ??
                                'VND'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="afterPrice">
                            <th mat-header-cell *matHeaderCellDef>Cập nhật giá
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.upPrice | currency: element?.currency ??
                                'VND'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                            <td mat-cell *matCellDef="let element">
                                <app-chip [chips]="element?.statusChips"></app-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dateCreate">
                            <th mat-header-cell *matHeaderCellDef>Ngày tạo phiếu
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span matTooltip="{{element.createdDate | dateDisplay:'origin'}}"
                                    matTooltipPosition="above">
                                    {{element.createdDate | dateDisplay}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="head-action"
                                [innerHTML]="'action.title' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="updateProductPrice(element)">
                                        <mat-icon>attach_money</mat-icon>
                                        <span>Cập nhật giá</span>
                                    </button>

                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="this.dataSource.count" [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons (page)="handlePageEvent($event)">
                    </mat-paginator>
                </div>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>