<div fxFlex class="fxClass-all" ngClass.xs="fxClass-xs" [formGroup]="form">
    <div class="header-button-row">
        <app-back-button [title]="'Tạo mới bộ phận'"></app-back-button>

        <div class="action">
            <button class="right-button" mat-raised-button color="primary" (click)="save()">
                <mat-icon>save</mat-icon>
                <span>Lưu</span>
            </button>
        </div>
    </div>

    <mat-card class="full-width">
        <mat-card-content>
            <p class="label">Thông tin bộ phận</p>
            <div class="container no-margin full-width">
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Tên bộ phận</mat-label>
                            <input matInput placeholder="" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Mã bộ phận</mat-label>
                            <input matInput placeholder="" formControlName="code">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Mô tả</mat-label>
                            <input matInput placeholder="*" formControlName="description">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col">
                    <p class="label">Trạng thái</p>
                    <mat-radio-group aria-label="" formControlName="active">
                        <mat-radio-button value="true">Hoạt động</mat-radio-button>
                        <mat-radio-button value="false">Không hoạt động</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="full-width">
        <mat-card-content>
            <div class="container no-margin full-width">
                <p class="label">Phân quyền danh mục sản phẩm</p>
                <div class="row" *ngIf="categories">
                    <app-chip-autocomplete style="width: 100%;" [allChips]="categories" [title]="'Danh mục'"
                        (outSelectedOptions)="onSelectCategory($event)"></app-chip-autocomplete>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="full-width">
        <mat-card-content>
            <div class="container no-margin full-width">
                <p class="label">Phân quyền máy in</p>
                <div class="row" *ngIf="printers">
                    <app-chip-autocomplete style="width: 100%;" [allChips]="printers" [title]="'Máy in'"
                        (outSelectedOptions)="onSelectPrint($event)"></app-chip-autocomplete>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


</div>