.chat-area {
    height: calc(100vh - 150px)!important;
}

.chat-date {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7)
}

.messages {
    width: 100%;
    padding: 12px;
    background: white;
}

.messages-header {
    display: flex;
    margin-bottom: 8px;
}

img {
    float: left;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    height: 40px;
    border: 1px solid green;
}

h2 {
    margin: 0;
}

.chat-area {
    // height: calc(100vh - 270px);
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    overflow: auto;
}

.chat-area-web {
    // height: calc(100vh - 90px) !important;
    // height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 12px; */
    overflow: auto;
    position: fixed;
    bottom: 56px;
    left: 0;
    width: 100%;
    padding: 6px;
}

:first-child {
    margin-top: auto;
}

.please-message {
    margin: 0 auto;
    margin-top: 40vh;
}

.chat-bubble-container {

    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble {
    background: white;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 8px;
    border-radius: 8px;
    width: fit-content;
    position: relative;
}

.chat-name {
    position: absolute;
    bottom: 2px;
    left: 8px;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
}

.chat-time {
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
}

.chat-bubble-container.sender {
    justify-content: flex-end;
}

.chat-bubble {
    background: #c5cae9;
    min-width: 250px;
}

.chat-bubble-container.sender .chat-bubble {
    background: palegreen;
}

.input-area {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.mdc-list-item__content {
    margin-top: 10px !important;
}

.mat-mdc-list-option .mdc-radio {
    display: none !important;
}