<div class="" fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="header-button-row">
        <app-back-button [title]="title"></app-back-button>

        <div class="create-delivery-order action">
            <button class="right-button" mat-raised-button color="" (click)="loadPage()">
                <mat-icon>refresh</mat-icon>
                <span [innerHTML]="'action.refresh' | translate"></span>
            </button>

        </div>

        <div class="search-field" style="width: 100%;">
            <app-dropdown-search [title]="'product.search-product' | translate" [allOptions]="allOptions"
                (outSelectedOptions)="updateSearch($event)"></app-dropdown-search>
        </div>

        <button *ngIf="false" mat-raised-button color="primary" style="margin-top: 12px;" (click)="openAddDialog()"
            [innerHTML]="'product.create-product' | translate"></button>
    </div>

    <mat-sidenav-container fxFlex="0 1 auto" class="content-table">

        <mat-sidenav-content>
            <div class="mat-elevation-z8 m-12">
                <div class="table-container">
                    <table mat-table class="jobs-table mat-elevation-z8" [dataSource]="dataSource" matSort
                        matSortActive="id" matSortDirection="asc" matSortDisableClear>

                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef>STT </th>
                            <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef>Ảnh </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="image" *ngIf="element.images && element.images.length > 0">
                                    {{element?.images[0]}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name" sticky>
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'product.name' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <a  class="hover-pointer no-underline" href="/sbb/products/{{element.id}}">
                                    <span class="left full-width">{{element.name}}</span>
                                </a>
                                <span class="left full-width">{{element.sku}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="shop">
                            <th mat-header-cell *matHeaderCellDef>Nhà cung cấp
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.shop}} </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'product.category' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>

                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef [innerHTML]="'product.brand' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.brand}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef>{{quantityColName}}</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.quantityStock}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Trạng thái trên đơn</th>
                            <td mat-cell *matCellDef="let element">
                                <app-chip [chips]="element.statusChips"></app-chip>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="head-action"
                                [innerHTML]="'action.title' | translate">
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">

                                    <button *ngIf="false" mat-menu-item (click)="openRemoveDialog(element)">
                                        <mat-icon>delete</mat-icon>
                                        <span [innerHTML]="'action.delete' | translate"></span>
                                    </button>

                                    <button *ngIf="false" mat-menu-item (click)="openUpdateDialog(element)">
                                        <mat-icon>edit</mat-icon>
                                        <span [innerHTML]="'action.update' | translate"></span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="this.dataSource.count" [pageIndex]="0" [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons (page)="handlePageEvent($event)">
                    </mat-paginator>
                </div>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>