<table>
  <thead *ngIf="showHeader">
    <tr>
      <td>
        <div class="header-space">
          <p class="label left" style="font-size: 26px;">{{ brand }}</p>
          <p class="label right" style="font-size: 26px;">{{ title }}</p>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="footer-space">
        </div>
      </td>
    </tr>
  </tfoot>
</table>