<div fxFlex class="fxClass-all" ngClass.xs="fxClass-xs" [formGroup]="form">
    <div class="header-button-row">
        <app-back-button [title]="'Tạo mới nhà vận chuyển'" [real]="'doing'"></app-back-button>

        <div class="action">
            <button class="right-button" mat-raised-button color="primary" (click)="save()">
                <mat-icon>save</mat-icon>
                <span>Lưu</span>
            </button>
        </div>
    </div>

    <mat-card class="full-width">
        <mat-card-content>
            <div class="container no-margin full-width">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <app-input-search [label]="'Tên nhà vận chuyển'" [placeholder]="''" [data]="transporter"
                                [field]="'name'" [value]="''" (output)="outputName($event)"></app-input-search>

                            <app-input-search [label]="'Mã nhà vận chuyển'" [placeholder]="''" [data]="transporter"
                                [field]="'code'" [value]="''" (output)="outputCode($event)"></app-input-search>

                            <app-input-search [label]="'Số điện thoại'" [placeholder]="''" [data]="transporter"
                                [field]="'phoneNumber'" [value]="''"
                                (output)="outputPhoneNumber($event)"></app-input-search>

                            <app-input-search [label]="'Email'" [placeholder]="''" [data]="transporter"
                                [field]="'email'" [value]="''" (output)="outputEmail($event)"></app-input-search>


                            <mat-form-field class="example-full-width">
                                <mat-label>Mô tả</mat-label>
                                <input matInput formControlName="description">
                            </mat-form-field>

                            <!-- <mat-form-field>
                                <mat-label>Đơn vị tiền tệ</mat-label>
                                <mat-select matNativeControl formControlName="currency">
                                    <mat-option *ngFor="let currency of currencies"
                                        [value]="currency.code">{{currency.code}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>

                        <div class="col">
                            <mat-form-field>
                                <mat-label>Quốc gia</mat-label>
                                <mat-select matNativeControl formControlName="country">
                                    <mat-option *ngFor="let country of countries"
                                        [value]="country.code">{{country.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <app-location (locationSelected)="locationSelected($event)"></app-location>

                            <mat-form-field>
                                <mat-label>Địa chỉ</mat-label>
                                <input matInput placeholder="*" formControlName="address">
                            </mat-form-field>

                            <!-- <mat-form-field class="example-full-width">
                                <mat-label>Giới hạn công nợ {{textMoney}}</mat-label>
                                <input matInput formControlName="debtLimit">
                            </mat-form-field> -->
                        </div>
                    </div>

                    <div class="row">
                        <app-chip-autocomplete style="width: 100%;" *ngIf="shops" [allChips]="shops"
                            [title]="'Nhà cung cấp'"
                            (outSelectedOptions)="onSelectShop($event)"></app-chip-autocomplete>
                    </div>

                    <div class="row">
                        <p class="label">Trạng thái</p>
                        <mat-radio-group aria-label="" formControlName="isAcivated">
                            <mat-radio-button value="true">Hoạt động</mat-radio-button>
                            <mat-radio-button value="false">Không hoạt động</mat-radio-button>
                        </mat-radio-group>
                    </div>


                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="full-width">
        <mat-card-content>
            <div class="container no-margin full-width">
                <div class="row">
                    <p class="label left">Ảnh đại diện</p>
                    <div class="images full-width">
                        <app-upload style="width: 100%; float:left; margin-right: 6px;" [limit]="1"
                            [limitTotal]="avatars.length" [limitSizeInMb]="5" [uploadType]="1"
                            [buttonName]="'Upload ảnh'" (onUploadFinished)="uploadAvatarImageFinished($event)"></app-upload>
                    </div>
                    <div class="left origin-photo">
                        <div *ngIf="avatars && avatars.length > 0">
                            <app-card-photo-grid class="left" [photos]="avatars"></app-card-photo-grid>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>