<div fxFlex class="fxClass-all" ngClass.xs="fxClass-xs" [formGroup]="form">
    <div class="header-button-row">
        <app-back-button [title]="'Tạo thiết lập giá sản phẩm theo NCC'" [real]="'done'"></app-back-button>
        <div class="create-delivery-order action ">
            <button class="right-button" mat-raised-button color="primary" (click)="save()">
                <mat-icon>save</mat-icon>
                <span>Lưu</span>
            </button>
        </div>
    </div>

    <div>
        <mat-card class="full-width">
            <mat-card-content>
                <div class="container full-width no-margin">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Chọn nhà cung cấp</mat-label>
                            <mat-select matNativeControl formControlName="shopId">
                                <mat-option *ngFor="let shop of shops"
                                    [value]="shop.id">{{shop.name}} - {{shop.code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="editor full-width">
                            <mat-form-field class="example-full-width">
                                <mat-label>Mô tả thiết lập</mat-label>
                                <textarea matInput placeholder="..." formControlName="description"></textarea>
                            </mat-form-field>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="full-width">
            <mat-card-content>
                <p class="label">Thiết lập chi phí vận chuyển</p>
                <div class="container full-width no-margin">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width" *ngIf="templateTransporterCosts">
                                <mat-label>Chọn template</mat-label>
                                <input type="text"
                                       placeholder="Chọn một"
                                       aria-label="Chọn template"
                                       matInput
                                       formControlName="templateTransporterCost"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let template of templateTransporterCostFilteredOptions | async" [value]="template.code">
                                    {{template.code}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="full-width">
            <mat-card-content>
                <p class="label">Danh sách thiết lập lợi nhuận theo danh mục</p>
                <div class="container full-width no-margin">
                    <div class="row">
                        <ng-container formArrayName="productProfitSetting">
                            <mat-table class="table-none-style" *ngIf="productProfitSettingDataSource"
                                [dataSource]="productProfitSettingDataSource">
                                <ng-container matColumnDef="numbericalOrder">
                                    <th mat-header-cell *matHeaderCellDef>STT </th>
                                    <td mat-cell *matCellDef="let element; let i = index;">
                                        {{i + 1}}
                                </ng-container>

                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                    <mat-cell *matCellDef="let element" [formGroup]="element">
                                        <mat-form-field>
                                            <input [readonly]="true" matInput formControlName="id">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="category">
                                    <mat-header-cell *matHeaderCellDef> Danh mục </mat-header-cell>
                                    <mat-cell *matCellDef="let element" [formGroup]="element">
                                        <mat-form-field>
                                            <input [readonly]="true" matInput formControlName="categoryName">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="percentProfit">
                                    <mat-header-cell *matHeaderCellDef> LN theo % </mat-header-cell>
                                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                                        <mat-form-field>
                                            <input type="number" matInput formControlName="percentProfit" (keyup)="changePercentProfit(element)">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="moneyProfit">
                                    <mat-header-cell *matHeaderCellDef> LN theo tiền mặt </mat-header-cell>
                                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                                        <mat-form-field>
                                            <input type="number" matInput formControlName="moneyProfit" (keyup)="changeMoneyProfit(element)">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="templateProfit">
                                    <mat-header-cell *matHeaderCellDef> Template LN </mat-header-cell>
                                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                                        <mat-form-field>
                                            <mat-label>Chọn template</mat-label>
                                            <mat-select matNativeControl formControlName="templateProfit" (valueChange)="changeTemplateProfit(element)">
                                                <mat-option *ngFor="let template of templateProfits"
                                                    [value]="template.id">{{template.name}} - {{template.code}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <mat-header-cell *matHeaderCellDef> Mô tả </mat-header-cell>
                                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                                        <mat-form-field>
                                            <input matInput formControlName="description">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action" sticky>
                                    <mat-header-cell mat-header-cell *matHeaderCellDef>
                                        <p class="label" style="padding-left: 14px;"
                                            [innerHTML]="'action.title' | translate"></p>
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element">
                                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                            aria-label="Example icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="remove(element)">
                                                <mat-icon>delete</mat-icon>
                                                <span [innerHTML]="'action.delete' | translate"></span>
                                            </button>
                                        </mat-menu>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </ng-container>

                        <!-- <div class="row">
                    <div class="col">
                        <button mat-raised-button color="primary" (click)="addSetting()">
                            <mat-icon>add</mat-icon>
                            <span>Thêm cài đặt</span>
                        </button>
                    </div>
                </div> -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>